@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Manrope', 'sans serif';

  --color-bg-main-dark: rgb(25, 25, 25);
  --color-bg-main: rgb(245, 245, 245);

  --color-text-main-dark: rgb(204, 204, 204);
  --color-text-main: rgb(56, 58, 94);
  --color-text-secondary-dark: rgb(167, 167, 167);
  --color-text-secondary: rgb(100, 100, 100);
  --color-text-accent: rgb(179, 142, 255);

  --color-button-bg-dark: rgb(32, 32, 32);
  --color-button-bg: rgb(230, 230, 230);

  --shadow-init: rgba(56, 58, 94, 0.06) 0px 0px 1px 1px;
  --shadow-tertiary: rgba(0, 0, 0, 0.06) 0px 0px 18px 0px;
}

/* todo: move to directory */
.header-btn {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(13px);
  padding: 0.22rem 1.125rem;
  color: black;
}
.dark .header-btn {
  background-color: --alpha(var(--color-bg-main-dark) / 70%);
  backdrop-filter: none;
  color: var(--color-text-main-dark);
}
